<!DOCTYPE html>
<html lang="en" data-theme="valentine">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- Include the navbar here -->
      <%- include('partials/navbar', {page: '/'}) %>
    </header>
    <main class="overflow-y-auto">
      <div class="flex bg-gray-100">
        <!-- Feed -->
        <div class="flex-1 overflow-y-auto">
          <div class="sticky top-0 p-6 bg-white">
            <h2 class="text-xl font-bold">Home</h2>
          </div>
          <div class="p-6 border-b">
            <div class="flex">
              <img class="w-10 h-10 rounded-full" src="your-image-url" alt="" />
              <input
                class="flex-1 ml-4 text-lg"
                type="text"
                placeholder="What's happening?"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
    

    <footer>
      <!-- Include the footer here -->
      <%- include('partials/footer') %>
    </footer>
  </body>
</html>
